# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore SCOP classification and other data
#scop_data/

# Ignore downloaded PDB files stored under each difficulty level
results/*/structures/

